<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

  </head>
  <header>
    <nav class="navigation">
      <a class="navigation__link" href="/">Главная</a>
      <a class="navigation__link" href="/client/1/">Заказы клиента</a>
      <a class="navigation__link" href="/select_product/">Загрузка изображений</a>
      <a class="navigation__link" href="#">Личный кабинет</a>
    </nav>
  </header>
  <body>


    {% block content %} Пустая страница {% endblock %}


  </body>
<footer>
  <div class="footer">
      <li class="link__menu"><a href="#">About Us</a></li>
      <li class="link__menu"><a href="#">Services</a></li>
      <li class="link__menu"><a href="#">Features</a></li>
      <li class="link__menu"><a href="#">Team</a></li>
      <li class="link__menu"><a href="#">Blog</a></li>
      <li class="link__menu"><a href="#">Contact</a></li>
    </div>
</footer>
</html>